#slider {
  .wrapper {
    .slideshow {
      background: #000;
      display:block;
      width:inherit;
      height:inherit;

      #logo {
        margin: auto;
        -ms-margin: auto;

        .PRO_logo {
          margin: auto;
          width: 75%;
          transition: all .5s ease-in-out;
          -ms-margin: auto;
          -ms-width: 75%;
          -mstransition: all .5s ease-in-out;
        }
      } // Logo end
    }
    #slideshow {
      height: 40vw;
      margin: auto;
      display: flex;
      background-color: #000;
      background: url('../img/gallery/item10.png'),
      url('../img/gallery/item1.png'),
      url('../img/gallery/item6.png');
      background-size: cover;
      background-repeat:no-repeat;
      background-position: center;
    }

    /*.video-bg {
      video {
        background: url('./img/PROnosound.mp4');
        height: 70%;
        border-left: 1px solid #0a0a0a;
        border-right: 1px solid #0a0a0a;
        border-radius: 4rem;
        margin: auto;
        margin-top: 5vw;
        box-shadow: 5px 0 4px rgba(0, 0, 0, .26), 0 3px 6px rgba(0, 0, 0, .43);
      }
    }*/
  }



  #logo-button {
    display: flex;
    width: 100%;
    top: 50%;
    position: absolute;

    a {
      margin: auto;
      display: flex;
			justify-content:center;

      .PRO_register {
        width: 150px;
        height: 67px;
        transition: all .5s ease-in-out;
      }

      .PRO_download {
        width: 150px;
        height: 42px;
        transition: all .5s ease-in-out;
      }
    }

    a:hover {
      transform: scale(1.1);
      transition: 1s ease-in-out;
    }
  }

  .arrow-down {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .arrow-down::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 5;
    bottom: -35rem;
    left: 0;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @-webkit-keyframes arrow {
    0%, 100% {
      top: 50px;
    }
    50% {
      top: 80px;
    }
  }

  @keyframes arrow {
    0%, 100% {
      top: 50px;
    }
    50% {
      top: 80px;
    }
  }
}

@media screen and (min-width:3840px) and (min-height:2160px) {
  #slider {
    .wrapper {
      .slideshow {
        #logo {
          .PRO_logo {
            margin: auto;
            width: 700px;
            transition: all .5s ease-in-out;
          }
        } // Logo end
      }
    }

    .arrow-down::after {
      width: 65px;
      height: 65px;
      border-right: 7px solid #000;
      border-bottom: 7px solid #000;
    }
  }
}

@media screen and (min-width:2100px) {
  #slider {
    .arrow-down::after {
      bottom: -30vw;
    }
  }
}

@media screen and (max-width:1370px) and (max-height:770px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 44.5vw;
      }
    }
  }
}

@media screen and (max-width:1280px) and (max-height:800px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 50vw;
      }
    }
  }
}

@media screen and (max-width:1280px) and (max-height:720px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 43vw;
      }
    }
  }
}

@media screen and (max-width:1280px) {
  #slider {
    .wrapper {
      .slideshow {
        background: #000;
        display:block;
        width:inherit;
        height:inherit;

        #logo {
          margin: auto;

          .PRO_logo {
            margin: auto;
            width: 40%;
            transition: all .5s ease-in-out;
          }
        } // Logo end
      }
    }

    .arrow-down::after {
      display: none;
    }
  }
}

@media screen and (max-width:1025px) and (max-height:770px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 58.5vw;
      }
    }
  }
}

@media screen and (max-width:960px) and (max-height:600px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 45vw;
      }
    }
  }
}

@media screen and (max-width:780px) {
  #slider {
    .wrapper {
      .slideshow {
        #logo {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width:420px) and (max-height:780px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 140vw;
      }
    }
  }
}

@media screen and (max-width:385px) and (max-height:640px) {
  #slider {
    .wrapper {
      #slideshow {
        height: 77vh;
      }
    }
  }
}
